{% spaceless %}
    <!doctype html>
    <html lang="{{ current_lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/site.webmanifest">
        <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/static/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        {# include bootstrap main css file #}
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
              {#integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"#}
              {#crossorigin="anonymous">#}
        {# font-awesome для иконок-шрифтов #}
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/main.css">
        {% block css %}
        {% endblock %}
        <title>{% block title %}Page title{% endblock %} | {{ cfg.project_title }}</title>
    </head>

    <body>
    {# Navbar по желанию можно отключить #}
    {% if no_navbar is not defined %}
        {% include 'blocks/navbar.twig' %}
    {% endif %}
    <main role="main" class="container" id="main_content">
        {# вывод flash-сообщений #}
        <div id="statuses">
            {% if errors is defined %}
                {% for error in errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{ error.caption }}</strong> {{ error.text }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            {% if warnings is defined %}
                {% for warning in warnings %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ warning.caption }}</strong> {{ warning.text }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            {% if infos is defined %}
                {% for info in infos  %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong>{{ info.caption }}</strong> {{ info.text }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            {% if successes is defined %}
                {% for success in successes  %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ success.caption }}</strong> {{ success.text }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div> {# /#statuses #}
        {% block content %}
            <h3>Content block!</h3>
        {% endblock %}
    </main>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    {% block js %}
        {# Для того, чтоб в шаблоны можно было вставлять нужный каждому отдельному шаблону JS-код или подключать JS-скрипты #}
    {% endblock %}

    </body>
    </html>
{% endspaceless %}