{% extends 'layout.twig' %}

{% block title %}{{ lang.signup_title }}{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="text-center mb-4">
                <img class="mb-4" src="/static/favicon/android-chrome-192x192.png" width="72" height="72" alt="Logo">
                <h3 class="h3" style="margin-top: -30px;">{{ cfg.project_title }} - {{ lang.signup_title }}</h3>
            </div>

            <form id="form-signup" method="post" role="form" enctype="multipart/form-data">
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        {# имя #}
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_name">{{ lang.auth_firstname }} *</label>
                                <input id="form_name" type="text" name="name" class="form-control"
                                       placeholder="{{ lang.auth_firstname_placeholder }} *" required="required"
                                       data-error="{{ lang.auth_firstname_dataerror }}" autocomplete="firstname">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        {# фамилия #}
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_lastname">{{ lang.auth_lastname }} *</label>
                                <input id="form_lastname" type="text" name="surname" class="form-control"
                                       placeholder="{{ lang.auth_lastname_placeholder }} *" required="required"
                                       data-error="{{ lang.auth_lastname_dataerror }}" autocomplete="surname">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    {# пароль и проверка пароля #}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_password">{{ lang.auth_password }} *</label>
                                <input type="password" id="form_password"
                                       placeholder="{{ lang.auth_password_placeholder }}" name="password"
                                       data-error="{{ lang.auth_password_dataerror }}" autocomplete="new-password"
                                       class="form-control" required="required">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_password_confirm">{{ lang.auth_password_confirm }} *</label>
                                <input type="password" id="form_password_confirm"
                                       placeholder="{{ lang.auth_password_confirm_placeholder }}"
                                       name="password_confirm"
                                       data-error="{{ lang.auth_password_confirm_dataerror }}"
                                       autocomplete="new-password-confirm"
                                       class="form-control" required="required">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {# email #}
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_email">{{ lang.auth_email }} *</label>
                                <input id="form_email" type="email" name="email" class="form-control"
                                       placeholder="{{ lang.auth_email_placeholder }} *" required="required"
                                       data-error="{{ lang.auth_email_dataerror }}" autocomplete="email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label>{{ lang.auth_user_avatar }}</label>
                            <div class="form-group custom-file">
                                <label class="custom-file-label" for="form_avatar" id="form_avatar_choice"
                                       data-rechoice-text="{{ lang.auth_user_avatar_rechoiche }}">
                                    {{ lang.auth_user_avatar_choice }}</label>
                                <input type="file" id="form_avatar" class="custom-file-input"
                                       accept="image/x-png,image/gif,image/jpeg">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <img src="" title="Avatar preview" class="img-thumbnail float-right" id="form_avatar_preview"
                         alt="Avatar preview..."
                         style="display: none; max-height: 100px;">

                    <div class="row">
                        {% if cfg.use_recaptcha %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ RECAPTCHA_BLOCK|raw }}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-sm btn-primary btn-send">
                                <i class="fa fa-check"></i>
                                {{ lang.auth_btn_register }}
                            </button>
                            <button type="reset" class="btn btn-sm btn-success btn-reset">
                                <i class="fa fa-repeat"></i>
                                {{ lang.auth_btn_reset }}
                            </button>
                        </div>
                    </div>
                </div>

                {# поле для хранения DataURL кропнутой картинки пользователя #}
                <input type="hidden" id="user_avatar_image_data" name="user_avatar">
            </form>
        </div>
    </div>

    <div class="modal" id="modal_cropper" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">{{ lang.modal_image_cropper_title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <img id="cropper_image" src="" title="Image for crop" alt="Picture" class="img-fluid">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal"
                            id="btn_image_crop"><i class="fa fa-scissors"></i> {{ lang.modal_image_cropper_btn_crop|default('Cut!') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% if cfg.use_recaptcha %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.js"
            integrity="sha256-EuV9YMxdV2Es4m9Q11L6t42ajVDj1x+6NZH4U1F+Jvw=" crossorigin="anonymous"></script>

    <script>
        {# Документ полностью загружен #}
        $(document).ready(function () {
            let cropBoxData;
            let canvasData;
            let cropper;

            // при выборе файла изображения обрезать его!
            $("#form_avatar").change(function (e) {
                let img = e.target.files[0];

                if (!img.type.match('image.*')) { // проверка формата файла, только изображения можно
                    alert("{{ lang.image_format_error }}");
                    return;
                }

                let reader = new FileReader();
                reader.onload = function (e) {
                    $('#cropper_image').attr('src', e.target.result);
                    $('#modal_cropper').modal();
                };
                reader.readAsDataURL(img); // попробовать считать изображение
                // изменить описание поля выбора изображения
                $('#form_avatar_choice').text($('#form_avatar_choice').attr('data-rechoice-text'));
                return true;
            });


            // инициализация cropper-а при открытии модального окна для обрезки изображения
            $('#modal_cropper').on('shown.bs.modal', function () {
                cropper = new Cropper(document.getElementById('cropper_image'), {
                    viewMode: 1,
                    ready: function () {
                        cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
                    }
                });
            }).on('hidden.bs.modal', function () {
                cropBoxData = cropper.getCropBoxData();
                canvasData = cropper.getCanvasData();
                $('#user_avatar_image_data').val(cropper.getCroppedCanvas().toDataURL());
                cropper.destroy();
            });

            // кнопка на модальном окне обрезки изображения
            $('#btn_image_crop').click(function () {

            });

        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.css"
          integrity="sha256-cZDeXQ7c9XipzTtDgc7DML5txS3AkSj0sjGvWcdhfns=" crossorigin="anonymous"/>

    <style>
        label {
            margin-bottom: 0;
        }

        .form-group {
            margin-bottom: 7px;
        }

        .btn {
            margin-right: 5px;
        }
    </style>
{% endblock %}